/* Coolors Exported Palette - coolors.co/5c415d-393e41-7e7f79-fffc31-e94f37 */

/* HSL */
$color1: hsla(298%, 18%, 31%, 1);
$color2: hsla(203%, 7%, 24%, 1);
$color3: hsla(70%, 2%, 49%, 1);
$color4: hsla(59%, 100%, 60%, 1);
$color5: hsla(8%, 80%, 56%, 1);

/* RGB */
$color1: rgba(92, 65, 93, 1);
$color2: rgba(57, 62, 65, 1);
$color3: rgba(126, 127, 121, 1);
$color4: rgba(255, 252, 49, 1);
$color5: rgba(233, 79, 55, 1);



